@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@import url(http://fonts.googleapis.com/css?family=Medula+One);

html {
  background:rgba(21,125,30,0.1);
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  margin: 1em 0.25em;
}

aside {
  width:20em;
  position:relative;
  float: right;
  margin-right: -25em;
  padding: 1em;
  background:rgba(11,95,10,0.25);
  border:1px solid #aaa;
  box-shadow: 2px 2px 2px rgba(200,200,200,0.5);
}
body{
  padding: 0.5em 1.5em;
  width:800px;
  box-shadow: 
  0.15em 0.2em 0.1em 0.1em rgba(31,65,60,0.6),
  inset 0.1em -0.1em 0.0em 0.1em rgba(91,65,60,0.3);

  background: #fff;
  display:inline-block;
  vertical-align:top
}
img{display:block;margin:5px;padding:3px}
#content li{line-height:1.75em;margin-top:.5em;max-width:420px}
#content li p{width:100%}
q{width:450px;margin:10px;display:block;line-height:1.65em;background:#fff;padding:15px;font-size:0.9em}
q p{margin:1em 0.5em;width:95%}
q:before{content:""}
q:after{content:""}
cite a{color:#99c}
label{font-family:monospace;width:450px;margin:0px 5px 15px;display:block;line-height:1.35em;background:#fff;padding:1em}
p{line-height:1.75em;font-size:1em;margin:0.25em 0.5em 0.25em 0;}
tt{display:block;margin:10px;font-weight:bold}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color:rgba(11,28,55,0.95);
  font-weight: bold;
}
h2{margin:0.75em 0;font-size:1.75em}
h3{font-size:1.5em}
h4{font-size:1.25em;margin-top:1em}
h5{font-size:1.1em;font-weight:bold}
h6{font-size:2em;display:inline-block;}

code { 
  background: #222;
  color: #eee;
  font-size: 0.85em;
  padding: 0.15em 0.5em;
  border-radius: 3px;
}

pre {
  font-size: 0.85em;
}
code span{display:block;margin:0;padding:0}
code.grey{color:#777;background:#eee}
.emp{color:#000;background:#cec}
.copy{color:#aaa;font-size:0.9em;display:block;text-align:center}
.secret{color:silver;font-weight:bold}
.secret a{color:lightblue}
.secret a:visited{color:pink}
.header{position:absolute;top:0;left:0;background:#ddd;display:block;width:100%;padding:5px 0;text-indent:5px}
.header a{color:#555;font-weight:bold}
.pre * {font-family:monospace}

nav{display:inline-block;position:absolute;right:0;top:0px;width:20em;
  border-bottom:0.5em solid #246;
  border-left:0.5em solid #246}
nav h4{margin:0;font-size:1.5em;text-align:right;background:#246;color:#ffe;font-weight:100;padding:1em}
nav h4 a{display:block;color:#acf;font-size:0.8em}
nav-contents {margin:0;padding:0;font-size:0.9em}
nav li{color:#246;list-style:none;padding:1em;margin:0.5em;cursor:pointer}
nav h5{font-weight:bold;display:block;font-size:1.2em;color:inherit;margin-bottom:.5em}
nav a{text-decoration:none;color:inherit;cursor:inherit}
nav li:hover{color:#ffe;background:#246}
nav li.selected{border-left:2px solid #246;cursor:default}

.syntaxhighlighter{font-size:0.8em !important}
a img{float:left;margin-left:-35px}
.break{display:block;margin:3em 0 1em 0;margin-left:220px}
cite{text-align:right;margin:5px -5px -10px 0;display:block;font-weight:bold;color:#bbb;font-family:Palatino Linotype,Book Antiqua,Palatino,serif}
em{padding:0 10px;margin:18px 5px; display:block;width:475px;font-size:0.9em;border-left: 2px solid #ddF}
em b{display:block}
th{text-align:left}
#toc{margin-top:0.5em}
#toc a{display:inline-block;background:tan;width:23%;padding:1.75%;border:2px solid tan;margin:1%;text-align:center;font-size:1.15em;text-decoration:none;color:#246}
#toc a:hover{background:#246;color:tan}

h1 { 
  font-size: 2.25em;
  font-weight: bold;
  margin: 1em 0 0.25em;
}

#title{
 color:rgba(11,28,55,0.95);
 padding: 0.5em 0em 1em;
 margin: -1em -1.5em 1em;
 background:rgba(11,95,10,0.25);
 font-family: 'Medula One', cursive;
}
#title span {
  margin-left: 1.5em;
  display: inline-block;
  vertical-align: bottom;
  width: 9em;
}
#title ul {
  margin: 0;
  float: right;
  color:rgba(11,28,55,0.75);
  display: inline-block;
}
#title a:visited {
  color: inherit;
}
#title a {
  color: inherit;
  text-decoration: none;
}
#title li:hover {
 cursor: pointer;
 background:rgba(41,75,60,0.4);
 color:rgba(230,250,215,0.75);
}
#title li {
  padding: 0.40em 0;
  text-align: center;
  font-size: 3.5em;
  width: 4em;
  display: inline-block;
  list-style: none;
}
#title h2,
#title h1{
 margin:0;
}
#title h1{
 font-size:4em;
 text-shadow:-1px -1px 0px rgba(90,120,150,0.3);}
#title h2{
 font-size:2.0em;
 color:rgba(11,28,53,0.8);
 margin-top:-0.31em;
 letter-spacing:0.20em}
